[center] {
  text-align: center;
}
.ui.card{
  height: 100%;
}
.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
  height: 300px;
}
.ui.top.attached.label+[class*="right floated"]+*, .ui.top.attached.label:first-child+:not(.attached){
  margin-top: 0px !important;
}
